services:
  eecust-power-monitor:
    build: .
    image: crpi-kp4alpljgmcdwnr9.cn-hangzhou.personal.cr.aliyuncs.com/jamesyasr/ecust-power-monitor:1.1
    ports:
      - "8080:8080"
    volumes:
      - /your/path/electricity.db:/app/electricity.db  # 持久化数据库
    environment:
      - PYTHONUNBUFFERED=1
      - DATA_DIR=/app/data  # 明确设置数据目录
    restart: always
    container_name: ecust-power-monitor
    # 确保数据目录权限
    command: python app.py
